body {
    font-family: 'san-serif';
    background-color: #202232;
    color: #333;
    }
    
    a {
    color: #3498db;
    text-decoration: none;
    }
    
    a:hover {
    text-decoration: underline;
    }
    
    header {
    background-color: #2B2D42;
    color: #fff;
    padding: 10px;
    }
    
    nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }
    
    nav ul li {
    display: inline-block;
    margin: 0 10px;
    }
    
    nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    }
    
    nav ul li a:hover {
    text-decoration: underline;
    transform: scale(1.1);
    }
    

    main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    }
    
    #info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    }
    
    #info img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
    }
    
    #info h2 {
    font-size: 40px;
    margin: 0;
    color: #9c9da8;
    text-align: center;
    }
    
    #info h4 {
    font-size: 20px;
    margin: 0;
    color: #7b7c8a;
    text-align: center;
    }
    
    h3 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #7b7c8a;
    text-transform: uppercase;
    font-weight: bold


    }
    
    p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    color: #FFF;
    }
    

    footer {
    background-color: #2B2D42;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
    }